<root>
    <params name="jauctionauctions" label="Filter">
        <param type="group" label="Source">
            <param name="sourcecategories" label="Categories" type="jauctioncategories"
                   default="0" multiple="1" size="10"/>
        </param>
        <param type="group" label="Limit" class="n2-expert">
            <param name="sourcefeatured" label="Featured" type="filter" default="0"/>
            <param name="sourceauto" label="Auto" type="filter" default="0"/>
            <param name="sourceprivate" label="Private" type="filter" default="0"/>
            <param name="sourcelanguage" label="Language" type="jauctionlanguages"
                   default="0" multiple="0"/>
            <param name="itemid" label="Item ID" type="text" default="0"/>
        </param>
    </params>
    <params name="order" label="Order by">
        <param name="productsorder" type="mixed" label="Order" default="pn.created|*|desc">
            <param type="list" label="Field" translateable="1">
                <option value="">None</option>
                <option value="pt.name">Product name</option>
                <option value="pn.created">Creation time</option>
                <option value="pn.modified">Modification time</option>
                <option value="rand()">Random</option>
            </param>
            <param type="radio" label="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </param>
        </param>
    </params>
</root>