h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
  font-weight: bold;
}
h2,
.h2 {
  font-size: 32px;
  margin: 0px;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  font-size: 16px;
  padding: 10px 0;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #02aed6;
  background: #ddd;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #02aed6;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 60px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 46px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 60px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 60px;
}
.features-list .feature-row h3 {
  font-size: 28px;
}
.features-list .feature-row div:first-child {
  padding-left: 0;
}
.features-list .feature-row div:last-child {
  padding-right: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: left;
}
.features-list .feature-row div:last-child.feature-img img {
  float: right;
}
.jumbotron h2 {
  font-size: 46px;
}
.jumbotron iframe {
  margin-top: 20px;
}

.divider.div-shadow {
  height: 1px;
}
.divider.div-shadow::after {
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 65%);
  content: "";
  display: block;
  height: 6px;
  margin-top: 10px;
  width: 100%;
}
.divider.div-solid {
  border-bottom: 1px solid #ddd;
  border-top: none;
}
.divider.div-dotted {
  border-bottom: 1px dotted #ddd;
  border-top: none;
}
.divider.div-double {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 10px;
}
.divider.div-dashed {
  border-bottom: 1px dashed #ddd;
  border-top: none;
}

.content-box.c2 {
  text-align: center;
}
.content-box.c2 .content-heading .content-box-heading {
  display: block;
}
.content-box.c2 .icon {
  display: block;
  margin-bottom: 10px;
}
.content-box.c2 .icon .circle-yes {
  width: 70px;
  line-height: 70px;
  height: 70px;
  font-size: 40px;
}
.content-box.c2 .content-heading:hover .border {
  color: #fff !important;
  border: 1px solid transparent;
  background: #02aed6 !important;
}
.content-box.c3 {
  padding: 15px;
  text-align: center;
  background: #F7F7F7;
}
.content-box.c3 .content-heading .icon {
  top: -35px;
  position: relative;
  margin-bottom: -15px;
}
.content-box.c3 .content-heading .icon .fa {
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 70px;
}
.content-box.c3 .content-heading .content-box-heading {
  display: block;
}
.content-box.c4 {
  padding: 15px;
  text-align: center;
  background: #F7F7F7;
}
.content-box.c4 .content-heading .icon {
  top: -35px;
  position: relative;
  margin-bottom: -15px;
}
.content-box.c4 .content-heading .icon .fa {
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 70px;
}
.content-box.c4 .content-heading .content-box-heading {
  display: block;
}
.content-box .content-heading a {
  text-decoration: none;
}
.content-box .content-heading:hover .circle-yes {
  background: #02aed6;
}
.content-box .content-heading:hover .content-box-heading {
  color: #02aed6;
}
.content-box .content-heading:hover .border {
  color: #fff !important;
  border: 1px solid transparent;
  background: #02aed6 !important;
}
.content-box .circle-yes {
  border-radius: 100%;
}
.content-box .border {
  color: #333 !important;
  border: 1px solid #333;
  background: none !important;
}
.content-box .border:hover {
  color: #fff !important;
  border: 1px solid transparent;
  background: #02aed6 !important;
}
.content-box .icon i.fa {
  color: #fff;
  width: 45px;
  height: 45px;
  font-size: 26px;
  background: #333;
  line-height: 45px;
  text-align: center;
}
.content-box .icon-left .icon {
  display: table-cell;
  line-height: normal;
  padding-right: 10px;
  vertical-align: middle;
}
.content-box .icon-right .icon {
  display: table-cell;
  line-height: normal;
  padding-left: 10px;
  vertical-align: middle;
}
.content-box .content-box-heading {
  color: #333;
  font-size: 22px;
  font-weight: normal;
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}
.content-box .c-read-more {
  color: #333;
  display: block;
}
.content-box .c-read-more:hover {
  color: #02aed6;
}
.content-box .c-read-more.left {
  text-align: left;
}
.content-box .c-read-more.center {
  text-align: center;
}
.content-box .c-read-more.right {
  text-align: right;
}
.mod-preview-info {
  z-index: 9;
}

#accordion h4.panel-title a.collapsed:after {
  content: "\f067";
}
#accordion h4.panel-title a:after {
  float: right;
  content: "\f068";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#accordion .panel h4.panel-title a {
  display: block;
  text-decoration: none;
  font-size: 20px;
}
#accordion.boxed-accordion .panel-heading {
  background: #fff;
}
#accordion.boxed-accordion .panel-collapse .panel-body {
  border: none;
}
#accordion.classic-accordion .panel {
  border-radius: 0;
  box-shadow: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ddd;
}
#accordion.classic-accordion .panel .panel-heading {
  background: none;
  border: none;
  padding: 10px 0;
}
#accordion.classic-accordion .panel .panel-body {
  border: none;
  padding: 5px 0 15px;
}

.zoom figure {
  overflow: hidden;
}
.zoom figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.zoom-out figure {
  overflow: hidden;
}
.zoom-out figure img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.zoom-out figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slide figure {
  overflow: hidden;
}
.slide figure img {
  margin-left: 30px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.slide figure:hover img {
  margin-left: 0;
}

.rotate figure {
  overflow: hidden;
}
.rotate figure img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.rotate figure:hover img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.blur figure img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.blur figure:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.gray-scale figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.gray-scale figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.blur_grayscale figure {
  overflow: hidden;
}
.blur_grayscale figure img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.blur_grayscale figure:hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.opacity figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.opacity figure:hover img {
  opacity: .5;
}

.flashing figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.shine figure {
  position: relative;
  overflow: hidden;
}
.shine figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.shine figure:hover::before {
  animation: shine .75s;
  -webkit-animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

body .icon-f {
  width: 70px;
  height: 70px;
  font-size: 36px;
  font-weight: 400;
  line-height: 70px;
  font-style: normal;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
body .icon-xxs {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
body .icon-xs {
  font-size: 25px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
body .icon-sm {
  width: 60px;
  height: 60px;
  font-size: 33px;
  line-height: 60px;
}
body .icon-lg {
  font-size: 36px;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
body .icon-xlg {
  font-size: 48px;
  height: 100px;
  line-height: 100px;
  width: 100px;
}
.circle-icon {
  color: #fff;
  background: #262626;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.rect-icon {
  color: #fff;
  background: #262626;
}
.rounded-icon {
  color: #fff;
  background: #262626;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.price-plane-s1 {
  max-width: 350px;
  overflow: hidden;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
}
.price-plane-s1.active {
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.15);
}
.price-plane-s1.active .h1 {
  color: #02aed6;
}
.price-plane-s1 .h1 {
  padding: 0;
  font-weight: normal;
}
.price-plane-s1 h2 {
  font-size: 30px;
  font-weight: normal;
}
.price-plane-s1 .box-planning-label {
  background: #02aed6;
  color: #fff;
  font-size: 17px;
  padding: 3px 40px;
  position: absolute;
  right: -34px;
  top: 23px;
  transform: rotate(47deg);
}
.price-plane-s1 ul.list li {
  padding: 5px 0;
}
.price-plane-s1 ul.list li span {
  font-size: 16px;
}
.price-plane-s1 ul.list li span.text-bold {
  font-weight: bold;
  padding-right: 5px;
}

.price-plane-s2 {
  max-width: 350px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
}
.price-plane-s2.active {
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.15);
}
.price-plane-s2.active .h1,
.price-plane-s2.active .h1 sup.up {
  color: #02aed6;
}
.price-plane-s2 .h1 {
  padding: 0;
  font-family: arial;
  font-weight: normal;
}
.price-plane-s2 .h1 sup {
  color: #333;
  font-size: 14px;
}
.price-plane-s2 .h1 sup.up {
  font-size: 70%;
  right: 2px;
}
.price-plane-s2 h2 {
  font-size: 30px;
  font-weight: normal;
}
.price-plane-s2 .box-planning-label {
  top: 20px;
  right: -25px;
  width: 80px;
  color: #fff;
  height: 80px;
  font-size: 16px;
  position: absolute;
  line-height: normal;
  background: #02aed6;
  border-radius: 100%;
}
.price-plane-s2 .box-planning-label span {
  left: 0;
  top: 24%;
  right: 0;
  position: absolute;
  transform: rotate(30deg);
}
.price-plane-s2 ul.list li {
  padding: 5px 0;
}
.price-plane-s2 ul.list li + li {
  border-top: 1px solid #eee;
  margin-top: 8px;
  padding-top: 7px;
}
.price-plane-s2 ul.list li span {
  font-size: 16px;
}
.price-plane-s2 ul.list li span.text-bold {
  font-weight: bold;
  padding-right: 5px;
}

.price-plane-s3 {
  max-width: 350px;
  text-align: center;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  background: #fff;
  position: relative;
}
.price-plane-s3.basic-plan .head-content {
  background: #E84C3D;
}
.price-plane-s3.basic-plan .price-icon .fa {
  background: #E84C3D;
}
.price-plane-s3.basic-plan ul.list li {
  color: #E84C3D;
}
.price-plane-s3.basic-plan .btn {
  background: #E84C3D;
}
.price-plane-s3.basic-plan .btn:hover,
.price-plane-s3.basic-plan .btn:focus {
  background: rgba(232, 76, 61, 0.7);
}
.price-plane-s3.premium-plan .head-content {
  background: #2DCC70;
}
.price-plane-s3.premium-plan .price-icon .fa {
  background: #2DCC70;
}
.price-plane-s3.premium-plan ul.list li {
  color: #2DCC70;
}
.price-plane-s3.premium-plan .btn {
  background: #2DCC70;
}
.price-plane-s3.premium-plan .btn:hover,
.price-plane-s3.premium-plan .btn:focus {
  background: rgba(45, 204, 112, 0.7);
}
.price-plane-s3.standard-plan .head-content {
  background: #1B7C9D;
}
.price-plane-s3.standard-plan .price-icon .fa {
  background: #1B7C9D;
}
.price-plane-s3.standard-plan ul.list li {
  color: #1B7C9D;
}
.price-plane-s3.standard-plan .btn {
  background: #1B7C9D;
}
.price-plane-s3.standard-plan .btn:hover,
.price-plane-s3.standard-plan .btn:focus {
  background: rgba(27, 124, 157, 0.7);
}
.price-plane-s3 .head-content {
  color: #fff;
  padding: 20px 0 0;
  background: #02aed6;
}
.price-plane-s3 .price-icon {
  top: 30px;
  margin-top: -15px;
  position: relative;
  margin-bottom: 30px;
}
.price-plane-s3 .price-icon .fa {
  color: #fff;
  padding: 15px;
  font-size: 20px;
  background: #02AED6;
  border-radius: 100%;
  border: 2px solid #fff;
}
.price-plane-s3 .box-planning-label {
  background: #34495e;
  color: #fff;
  font-size: 16px;
  padding: 3px 0;
  position: absolute;
  right: -37px;
  text-align: center;
  top: 30px;
  transform: rotate(47deg);
  width: 160px;
}
.price-plane-s3 .price {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-family: arial;
}
.price-plane-s3 .season {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.price-plane-s3 .divider {
  border-color: #fff;
}
.price-plane-s3 .bottom-content {
  padding-bottom: 20px;
}
.price-plane-s3 ul.list li {
  padding: 7px 0;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}
.price-plane-s3 ul.list li span {
  padding: 0 2px;
}
.price-plane-s3 a.btn {
  margin: 0;
  font-size: 18px;
  padding: 7px 30px;
}