.mod_hotel_reservation {
	background: #222;
	border-bottom:5px solid #795200;
	font-size: 14px !important;
	width: 100%;
	padding: 0 0 5px 0;
	border-radius: 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
}

.mod_hotel_reservation .search-nav {
	margin: 3px 0px 8px;
	color: #E8F1FF !important;
}

.mod_hotel_reservation label,.mod_hotel_reservation h3 {
color: #E8F1FF !important;
}

.mod_hotel_reservation .reservation-container .divider {
 	padding: 3px 0;
 	margin-bottom: 4px;
}

.mod_hotel_reservation a {
    color: #e8f1ff !important;
    float:left;
}

.mod_hotel_reservation a:hover {
    color: #edfff1 !important;
}


.mod_hotel_reservation .ui-hotel-button, .mod_hotel_reservation a.ui-hotel-button {
    border: 1px solid #593D00 ;
   	background: #593D00;
    background: -moz-linear-gradient(center top , #795200 0%, #593D00 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#795200), to(#593D00) );
	background: -webkit-linear-gradient(top, #795200, #593D00);
	background: linear-gradient(top, #795200, #593D00);
  
}
.mod_hotel_reservation .ui-hotel-button:hover {
	background: #593D00;
	background: -moz-linear-gradient(center top , #593D00 0%, #795200 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#593D00), to(#795200) );
	background: -webkit-linear-gradient(top, #593D00, #795200);
	background: linear-gradient(top, #593D00, #795200);
    cursor: pointer;
    text-shadow: 1px -1px #1B98C7;
}

.mod_hotel_reservation .ui-hotel-button-grey, .mod_hotel_reservation a.ui-hotel-button-grey, .mod_hotel_reservation .ui-hotel-button-grey.ui-hotel-button-disabled:hover, .mod_hotel_reservation input.ui-hotel-button-grey[disabled="disabled"]:hover, .mod_hotel_reservation button.ui-hotel-button-grey[disabled="disabled"]:hover {
	background: #E9EAEA;
    background: -moz-linear-gradient(center top , #E9EAEA 0%, #CECFD0 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#E9EAEA), to(#CECFD0) );
	background: -webkit-linear-gradient(top, #E9EAEA, #CECFD0);
	background: linear-gradient(top, #E9EAEA, #CECFD0);
    border: 1px solid #B5B5B5 !important;
    box-shadow: 0 0 1px #F9F9F9 inset, 0 1px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px #DDDDDD !important;
}
.mod_hotel_reservation .ui-hotel-button-grey .ui-button-text, .mod_hotel_reservation .ui-hotel-button-grey {
    color: #333333 !important;
}
.mod_hotel_reservation .ui-hotel-button-grey:hover, .mod_hotel_reservation a.ui-hotel-button-grey:hover {
	background: #CECFD0;
    background: -moz-linear-gradient(center top , #CECFD0 0%, #E9EAEA 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#CECFD0), to(#E9EAEA) );
	background: -webkit-linear-gradient(top, #CECFD0, #E9EAEA);
	background: linear-gradient(top, #CECFD0, #E9EAEA);
    text-shadow: 1px -1px #DDDDDD !important;
}




