.section {
  clear: both;
  padding: 0;
  margin: 0;
}
/*  GROUPING  ============================================================================= */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
@media screen and (max-width: 200px) {
  .group {
    font-size: 10px;
  }
}
/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 0 0 1% 0.6%;
  /* all browsers except IE6 and lower */
}
.col:first-child {
  margin-left: 0;
}
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
@media all {
  .column_12_of_12 {
    width: 100% ;
  }
  .column_11_of_12 {
    width: 90% ;
  }
  .column_10_of_12 {
    width: 83.06% ;
  }
  .column_9_of_12 {
    width: 74.6% ;
  }
  .column_8_of_12 {
    width: 66.13% ;
  }
  .column_7_of_12 {
    width: 57.66% ;
  }
  .column_6_of_12 {
    width: 49.2% ;
  }
  .column_5_of_12 {
    width: 40.73% ;
  }
  .column_4_of_12 {
    width: 32.26% ;
  }
  .column_3_of_12 {
    width: 23.8% ;
  }
  .column_2_of_12 {
    width: 15.33% ;
  }
  .column_1_of_12 {
    width: 9.33%;
  }
}
/*  GO FULL WIDTH AT LESS THAN 880 PIXELS */
@media only screen and (max-width: 880px) {
  .column_12_of_12 {
    width: 100% ;
  }
  .column_11_of_12 {
    width: 100% ;
  }
  .column_10_of_12 {
    width: 100% ;
  }
  .column_9_of_12 {
    width: 100% ;
  }
  .column_8_of_12 {
    width: 100% ;
  }
  .column_7_of_12 {
    width: 100% ;
  }
  .column_6_of_12 {
    width: 100% ;
  }
  .column_5_of_12 {
    width: 100% ;
  }
  .column_4_of_12 {
    width: 100% ;
  }
  .column_3_of_12 {
    width: 100% ;
  }
  .column_2_of_12 {
    width: 100% ;
  }
  .column_1_of_12 {
    width: 100% ;
  }
}
