body {
  background-color: #0FFFFF;
}
input.discount_datas,
input.discount_datae {
  float: none;
}
input[type='buttoon'],
input[type='submit'],
input[type='radio'],
input[type='checkbox'] {
  cursor: hand;
  cursor: pointer;
}
img.discount_datas_img,
img.discount_datae_img {
  float: none;
}
img.img_picture {
  border: solid 0px red;
}
img.img_btn_line {
  width: 50px;
  height: 4px;
  border: 0;
}
.btn_normal {
  float: none;
  color: #050;
  font: bold 12px 'trebuchet ms', helvetica, sans-serif;
  background-color: #FDFDFD;
  border: 1px solid #cccccc;
  width: 150px;
  padding: 0 0;
  cursor: hand;
}
.tr_title {
  background-color: #bbbbbb;
  text-align: left;
  vertical-align: middle;
}
.adminform img {
  vertical-align: top;
}
#datasf_img,
#dataef_img,
#datas_img,
#datae_img,
#end_date_img,
#start_date_img,
#filter_start_date_img,
#filter_end_date_img,
#discount_datae_img,
#discount_datas_img,
#filter_datas_img,
#filter_datae_img {
  margin-left: -40px !important;
}
#offer_datae,
#offer_datas,
#offer_dataef,
#offer_datasf,
#end_date,
#start_date,
#filter_start_date,
#filter_end_date,
#discount_datas,
#discount_datae,
#filter_datas,
#filter_datae,
#start_date_i,
#end_date_i {
  display: inline !important;
}
div .window {
  padding: 10px;
  width: 800px;
}
div.discount_info {
  background-color: #F2F2EC;
  font-size: 10px;
}
div.reserved {
  background-color: #5555ff;
}
div.ignored {
  background-color: #cccccc;
}
div.unavailable {
  background-color: #aaaaaa;
}
div.available {
  background-color: #c5fea9;
}
div.reserved_details {
  background-color: #5555ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  height: 20px;
  vertical-align: middle;
  float: center;
  line-height: 20px;
  margin: 0 2px;
}
div.info {
  background-color: #ffffff;
  padding: 10px;
  overflow-y: auto;
  height: 70%;
  position: fixed;
  width: 65%;
}
div.poptext {
  background: #fffeee;
  border: 1px solid #f7a229;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
  width: 300px;
}
div.reseravation_box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #333333 !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  height: 20px;
  vertical-align: middle;
  float: center;
  line-height: 20px;
  margin: 0 2px;
}
.img_picture_room {
  width: 64px;
  height: 64px;
  border: 0px;
  cursor: default;
  cursor: pointer;
}
.btn_picture_delete {
  width: 17px;
  height: 17px;
  border: 0px;
  cursor: default;
  cursor: pointer;
}
.btn_picture_status {
  width: 16px;
  height: 16px;
  border: 0px;
  cursor: default;
  cursor: pointer;
}
.span_up,
.span_down {
  cursor: default;
  cursor: pointer;
  color: #0000ff;
  line-height: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
}
tr.total_room {
  background-color: #F2F2EC;
}
tr.title_reports {
  background: #b0d2ff url(../img/table_header_bg.jpg) repeat-x;
  color: #333;
}
tr.title_reports td {
  border-bottom: 1px solid #749cd3;
}
table.report {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: 10px;
  width: 100%;
}
table.report-advanced td {
  width: 30px;
}
table.admintable th,
table.admintable td {
  font-size: 12px !important;
  padding: 6px;
}
table.offers-report {
  border: 1px solid #333333;
  border-collapse: collapse;
}
table.offers-report td {
  padding: 5px;
  text-align: center;
  border: 1px solid #333333;
}
table.offers-report .title_reports td {
  padding: 7px;
  font-weight: bold;
}
table.offers-report td.offer-info {
  text-align: left;
}
@media screen and (min-width: 410px) {
  .labelYes_1 {
    margin-right: -6px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .labelYes_roomDiscount {
    margin-right: 0 !important;
    padding-left: 45px !important;
    padding-right: 60px !important;
  }
  .labelNo_roomDiscount {
    padding-left: 43px !important;
    padding-right: 39px !important;
  }
  .labelYes {
    margin-right: -9px !important;
    padding-left: 45px !important;
    padding-right: 49px !important;
  }
  .labelPerPerson {
    margin-right: 0 ;
    text-align: center !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .labelPerOffer {
    margin-right: 0;
    text-align: center !important;
    padding-left: 45px !important;
    padding-right: 55px !important;
  }
  .labelPerDay {
    padding-left: 43px !important;
    padding-right: 52px !important;
  }
  .labelNo {
    padding-left: 43px !important;
    padding-right: 43px !important;
  }
  #label_mandatory0,
  #label_map_per_length_of_stay0 {
    padding-left: 70px !important;
    padding-right: 65px !important;
  }
  #label_mandatory1,
  #label_map_per_length_of_stay1 {
    padding-right: 61px !important;
    padding-left: 65px !important;
  }
  #label_is_per_day0 {
    margin-right: -16px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  #label_price_type1,
  #label_price_type0 {
    padding-left: 25px;
    padding-right: 25px;
  }
  #label_is_per_day1 {
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-right: -15px !important;
  }
  #label_is_per_day2 {
    padding-left: 25px !important;
    padding-right: 27px !important;
  }
  #label_hotel_state1,
  #label_state1 {
    padding-right: 36px !important;
  }
  #label_hotel_state0,
  #label_state0 {
    padding-right: 48px !important;
  }
  .admintable div.current {
    width: 120px !important;
  }
  #invoice_email {
    width: 211px;
    padding: 2px;
    margin-left: 3px !important;
  }
}
#totalPrice {
  margin-left: 0px !important;
}
@media screen and (min-width: 426px) {
  #customRates {
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
  }
  #email_default_name,
  #email_name {
    width: 300px !important;
  }
}
@media screen and (max-width: 425px) {
  #customRates {
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
  }
}
.RatesDaysOftheWeek {
  padding-right: 10px;
  margin-left: -7px;
}
@media screen and (max-width: 437px) {
  .firstTr {
    float: left;
    line-height: 35px;
    text-align: left !important;
  }
  .secondTr {
    float: right;
    margin-top: -324px;
  }
  .offersDetailsFirstTr {
    float: left;
    line-height: 23px;
  }
  .offersDetailsSecondTr {
    float: left;
  }
  .offerdays {
    border-right: none !important;
  }
}
@media screen and (min-width: 438px) and (max-width: 800px) {
  .firstTr {
    float: left;
    line-height: 34px;
  }
  .secondTr {
    float: right;
  }
  .offersDetailsFirstTr {
    float: left;
    line-height: 23px;
  }
  .offersDetailsSecondTr {
    float: left;
  }
  .offerdays {
    border-right: none !important;
  }
}
.responsiveText {
  white-space: normal;
  line-break: normal;
}
.offerdays {
  border-right: solid 2px black;
}
.chzn-single span,
.search-choice span {
  white-space: normal !important;
}
@media screen and (max-width: 409px) {
  .labelYes_1,
  .labelYes_roomDiscount {
    margin-right: -6px !important;
    text-align: center;
    padding-left: 7px !important;
    padding-right: 5px !important;
  }
  .labelYes,
  #label_mandatory0,
  #label_map_per_length_of_stay0 {
    margin-right: -9px !important;
    text-align: center;
    padding-left: 10px !important;
    padding-right: 7px !important;
  }
  .labelNo,
  #label_mandatory1,
  #label_map_per_length_of_stay1,
  .labelNo_roomDiscount {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .labelPerPerson {
    margin-right: 0 !important;
    text-align: center;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .labelPerOffer {
    margin-right: 0 !important;
    text-align: center;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .labelPerDay {
    padding-left: 13px !important;
    padding-right: 10px !important;
  }
  #label_is_per_day0 {
    margin-right: -16px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  #label_price_type1,
  #label_price_type0 {
    padding-left: 25px;
    padding-right: 25px;
  }
  #label_is_per_day1 {
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-right: -15px !important;
  }
  #label_is_per_day2 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  #label_hotel_state1,
  #label_state1 {
    padding-right: 10px !important;
  }
  #label_hotel_state0,
  #label_state0 {
    padding-right: 10px !important;
  }
  #invoice_email {
    width: 80% !important;
  }
}
#pets,
#parking,
#wifi,
#send_invoice_to_email {
  float: left;
}
@media all and (min-width: 610px) {
  #tdBelowRadioButtons {
    float: left;
    margin-top: -8px;
    margin-left: 0px;
    margin-right: -12px;
  }
}
@media all and (max-width: 600px) {
  #tdBelowRadioButtons {
    float: right;
    margin-top: -5px;
    margin-right: -14px;
  }
}
@media all and (min-width: 200px) {
  #tdBelowRadioButtons {
    float: left;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: 0px;
  }
}
#filterSelect {
  margin-top: 0;
}
.fltlfts {
  float: left;
  margin-left: 10px;
}
#extra_options_ids_chzn,
#room_ids_chzn,
#offer_ids_chzn {
  padding: 0 !important;
}
#status {
  background: none repeat scroll 0% 0% !important;
  border-top: none !important;
  box-shadow: none !important;
}
#filterReports {
  float: left !important;
}
@media all and (max-width: 548px) {
  #filterRaportType {
    float: left !important;
    margin-top: -8px;
  }
  .fltrt_reports {
    float: left;
  }
}
@media all and (max-width: 946px) {
  #filterRaportType {
    float: left !important;
    margin-top: -8px;
  }
  .fltrt_reports {
    float: left;
  }
}
.report-simple .room-info {
  background-color: #ffffff;
  border-bottom: 1px solid #e2ecf5;
  border-left: 2px solid #acc9e3;
  height: 25px;
}
.report-simple .info-type {
  border-bottom: 1px solid #e2ecf5;
  border-left: 1px solid #acc9e3;
}
.report-simple .info-row {
  border-bottom: 2px solid #acc9e3;
}
.report-simple .date {
  font-weight: bold;
}
span.span_ignored_days {
  font-family: Times New Roman;
  font-size: 12px;
  padding: 2px;
  border: 1px solid gray;
  margin: 1px;
  background-color: #bbbbbb;
  height: 20px;
  text-align: left;
  cursor: hand;
  cursor: pointer;
}
span.span_ignored_days_sel {
  font-family: Times New Roman;
  font-size: 12px;
  padding: 2px;
  border: 1px dotted gray;
  margin: 1px;
  background-color: #eeeeee;
  height: 20px;
  text-align: left;
  cursor: hand;
  cursor: pointer;
}
span.title_ID {
  text-float: left;
  font-weight: bold;
  color: #555555;
  font-size: 13px;
  margin-right: 808px;
}
span.price_mediu {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
span.img_gallery {
  margin: 2px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}
span.img_gallery img {
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
span.img_gallery a:hover img {
  border: 1px solid #FF0000;
}
.advanced-report {
  overflow-x: auto;
}
#boxes {
  --overflow: auto;
}
#boxes fieldset {
  padding: 0;
}
#boxes #dialog {
  padding: 10px;
  background-color: #ffffff;
}
#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 9999;
  padding: 20px;
}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #cccccc;
  display: none;
}
.cnt {
  display: none;
  margin: 0 10px 10px 10px !important;
  padding: 10px;
  background: #f9f9f9;
  clear: left;
  line-height: 14px;
  overflow: visible;
}
.room-description {
  display: none;
  font-size: 11px !important;
  display: block;
  overflow: visible;
  float: left;
  padding-bottom: 10px;
  border-bottom: 1px dotted #998855 !important;
  text-align: left;
  width: 100%;
}
#preview {
  position: absolute;
  border: 1px solid #cccccc;
  background: #333333;
  padding: 5px;
  display: none;
  color: #fff;
}
.picture-container {
  padding-top: 5px;
  clear: both;
  text-align: left;
  width: 100%;
}
ul.list_discount_tooltip,
li.list_discount_tooltip {
  margin-left: 3px;
}
td.td_right_border {
  border-right: solid 3px black;
}
td.title_black {
  background: #b0d2ff url(../img/table_header_bg.jpg) repeat-x;
  color: #444;
  font-weight: bolder;
  border-right: 2px solid #acc9e3;
}
td.title_room_type {
  background: #b0d2ff url(../img/table_header_bg.jpg) repeat-x;
  color: #444;
  font-weight: bolder;
  border-right: 2px solid #acc9e3;
  padding: 0 25px;
}
td.title_room_number {
  background: #b0d2ff url(../img/table_header_bg.jpg) repeat-x;
  color: #444;
  font-weight: bolder;
  border-right: 2px solid #acc9e3;
  width: 90px;
  white-space: normal;
  padding: 0 7px;
}
td.td_color_fundal {
  height: 30px;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_1 {
  background-color: #ffffff;
  height: 30px;
  border-right: dotted 1px #e2ecf5;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_2 {
  background-color: #ffffff;
  height: 30px;
  border-right: 2px solid #acc9e3;
  border-bottom: 1px solid #e2ecf5;
}
td.td_data {
  font-weight: bold;
  height: 30px;
  border-right: 2px solid #acc9e3;
}
td.td_number {
  font-weight: bold;
  border-bottom: solid 1px #749cd3;
  border-right: solid 2px #749cd3;
  text-align: center;
  padding: 0 10px;
}
td.td_room {
  font-weight: bold;
  border-bottom: solid 1px #749cd3;
  border-right: solid 1px #749cd3;
  width: 125px;
  padding: 0 5px;
}
td.td_crt_data {
  background: url(../img/table_selected_header_cell_bg.jpg) repeat-x;
  font-weight: bold;
  height: 30px;
  border-right: 2px solid #CCDEEE;
}
td.datepicker_PARTIAL a {
  background: #00FFFF;
}
td.datepicker_crt_PARTIAL a {
  background: #55FFFF;
}
td.datepicker_FULL a {
  background: #FF0000;
}
td.datepicker_crt_FULL a {
  background: #FF9999;
}
td.datepicker_disabled a {
  background: #dddddd;
}
td.link {
  background: url(../assets/img/radio_link.png) no-repeat center;
}
td.link .first {
  background: url(../assets/img/radio_link.png) no-repeat center center;
}
td.td_color_fundal_crt_day_1 {
  background-color: #FDDFB2;
  height: 30px;
  border-right: dotted 1px #e2ecf5;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_crt_day_2 {
  background-color: #FDDFB2;
  height: 30px;
  border-right: 2px solid #acc9e3;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_unavailable_1 {
  background-color: #dddddd;
  height: 30px;
  border-right: dotted 1px #e2ecf5;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_unavailable_2 {
  background-color: #dddddd;
  height: 30px;
  border-bottom: 1px solid #e2ecf5;
  border-right: 2px solid #acc9e3;
}
td.td_color_fundal_ignored_1 {
  background-color: #FF9999;
  height: 30px;
  border-right: dotted 1px #e2ecf5;
  border-bottom: 1px solid #e2ecf5;
}
td.td_color_fundal_ignored_2 {
  background-color: #FF9999;
  height: 30px;
  border-bottom: 1px solid #e2ecf5;
  border-right: 2px solid #acc9e3;
}
.btn_general {
  float: right;
  font-size: 10px;
  line-height: 18px;
  font-weight: bold;
  background-color: #BFBF9B;
  border: 1px solid #666666;
  margin: 1px;
  padding: 0px 6px;
}
.btn_general a:link {
  color: #000000;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  clear: both;
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
.room_expand {
  background-image: url("../assets/img/arrows.png");
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 10px;
  width: 10px;
  margin: 3px 2px 0 0;
}
.room_expand.expanded {
  background-position: left -10px;
  margin: 3px 4px 0 0;
}
.link_more {
  background: url("../assets/img/info_icon.gif") no-repeat left 3px;
  padding-left: 15px;
  height: 10px;
}
.price_breakdown {
  border: 1px dotted #998855;
  margin: 5px 0;
  padding: 5px;
}
.price_breakdown_grad_total td {
  border-top: 1px dotted #998855 !important;
  padding: 3px;
}
select.hotel_select {
  width: 250px;
}
.table_hotels {
  margin-top: 10px;
}
.hotel-info {
  font-size: 12px;
  margin: 0 0 0 10px;
}
.hotel-title {
  font-weight: bold;
}
.hotel-location {
  font-size: 11px;
}
.hotel-description {
  margin-top: 10px;
}
.hotel-description img {
  margin: 4px 15px 5px 0;
}
.header_line {
  padding: 7px 0px 7px 5px;
  background-color: #D2D2B8;
  margin-top: 15px;
}
.mand {
  color: #FF0000;
  font-weight: bold;
}
.add_reservation_container {
  width: 700px;
  margin-left: 10px;
}
.section_container {
  border: 1px solid #C7C7A5;
  background-color: #ffffff;
}
.reserved_details_reserved {
  background: url(../img/state_reserved.jpg) repeat-x;
  border: 1px solid #d3b503;
}
.reserved_details_canceled {
  background: url(../img/state_canceled.jpg) repeat-x;
  border: 1px solid #a40000;
}
.reserved_details_canceled a:link {
  color: #333333;
  display: block;
  line-height: 15px;
}
.reserved_details_checked_in {
  background: url(../img/state_checked_in.jpg) repeat-x;
  border: 1px solid #147e0c;
}
.reserved_details_checked_in a:link {
  color: #333333;
  display: block;
  line-height: 15px;
}
.reserved_details_checked_out {
  background: url(../img/state_checked_out.jpg) repeat-x;
  border: 1px solid #5b81b2;
}
.reserved_details_checked_out a:link {
  color: #333333;
  display: block;
  line-height: 15px;
}
.reserved_details_late {
  background: url(../img/state_late.jpg) repeat-x;
  border: 1px solid #ff8784;
}
.reserved_details_late a:link {
  color: #333333;
  display: block;
  line-height: 15px;
}
a.HOTELS {
  font-weight: bold;
  font-size: 14px;
}
a.client:link {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 9px;
  padding: 3px;
}
a.client:active,
a.client:hover,
a.client:focus,
a.client:visited {
  color: #FFFFFF;
  text-decoration: none;
}
a.type_price:link {
  color: #0000ff;
  text-decoration: none;
  font-size: 11px;
  padding: 3px;
}
a.type_price:active,
a.type_price:hover,
a.type_price:focus,
a.type_price:visited {
  color: #0000ff;
  text-decoration: none;
}
a.type_price_sel:link {
  color: #555555;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  padding: 3px;
}
a.type_price_sel:active,
a.type_price_sel:hover,
a.type_price_sel:focus,
a.type_price_sel:visited {
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}
a.season_type_price:link {
  color: #0000ff;
  text-decoration: none;
  font-size: 11px;
  padding: 3px;
}
a.season_type_price:active,
a.season_type_price:hover,
a.season_type_price:focus,
a.season_type_price:visited {
  color: #0000ff;
  text-decoration: none;
}
a.season_type_price_sel:link {
  color: #555555;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  padding: 3px;
}
a.season_type_price_sel:active,
a.season_type_price_sel:hover,
a.season_type_price_sel:focus,
a.season_type_price_sel:visited {
  color: #555555;
  text-decoration: none;
  font-weight: bold;
}
rr.SUBTOTAL_1_INFO {
  background-color: #bbbbbb;
  font-weight: bold;
}
.div_arrival_option_title {
  font-size: 16px;
  color: #885544;
  font-weight: bold;
}
.div_arrival_option_info {
  font-size: 11px;
  font-weight: bold;
}
.reviewtable {
  margin-top: 0;
  border-left: 1px solid #BBB;
  margin-left: -11px;
  background-color: #ffffff;
  width: 100%;
  float: left;
  padding: 10px;
}
.reviewtable div {
  font-size: 12px;
  color: #333333;
}
#ratesRadiosDisabled {
  margin-top: 29px;
}
.reviewButton {
  width: 197px;
  margin-top: 15px;
}
.rateInput {
  display: inline-flex;
  float: left;
  width: 6%;
}
.rateRow {
  width: 90%;
  max-width: 100%;
  padding: 10px !important;
  clear: both;
}
.border {
  -webkit-border-top-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  border-top-left-radius: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  border-top-right-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  border-bottom-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
  border-bottom-left-radius: 4px !important;
}
#label_10 {
  margin-left: -42px;
}
#review_short_description,
.remarks {
  width: 100% !important;
  max-width: 90%;
}
div.reviewQuestion {
  font-size: 12px;
  color: #333333;
  text-align: left;
  width: 18%;
  float: left;
  margin-right: 8px;
  word-break: break-all;
}
.reviewlist {
  cellspacing: 0px;
  cellpadding: 0px;
  background-color: #dddddd;
}
.reviewlist td {
  font-size: 12px;
  color: #333333;
  padding: 4px;
  text-align: left;
}
.reviewlist th {
  font-size: 13px;
  color: #333333;
  background-color: #dddddd;
  text-align: center;
}
.info {
  width: 100%;
  border: 1px solid #BBBBBB;
}
.row1 {
  background-color: #f9f9f9;
}
.row0 {
  background-color: #ffffff;
}
.review_info {
  font-size: 13px;
  color: #333333;
}
.review {
  font-size: 14px;
  font-weight: bold;
  color: #FF6600;
}
.close {
  cursor: hand;
  font-size: 14px;
  font-weight: bold;
}
.table_info {
  background-color: #ffffff;
  height: auto;
  border: 0px;
  cellpadding: 0px;
  cellspacing: 3px;
  border: 1px solid #D2D2B9;
}
.table_info td {
  border-top: 1px dotted #D2D2B9;
  padding-top: 5px;
}
.table_info .tr_cnt,
.table_info .offer_tr_cnt {
  height: 0;
  padding-top: 0;
}
.table_info .tr_cnt td,
.table_info .offer_tr_cnt td {
  border-top: none;
}
.EmailTr {
  text-align: left;
  padding: 20px 0px;
  clear: both;
}
.EmailTr table {
  border-collapse: colapse;
}
.EmailTr th {
  text-align: left;
  border-bottom: 1px solid #bbb;
}
.EmailTr td {
  padding: 7px;
}
.EmailTr > table > tbody > tr {
  border-bottom: 1px solid #ccc;
}
#label_discount_type1 {
  margin-left: -3px;
}
.dates_hotel_calendar {
  height: 350px;
}
.offerInput{
    padding: 0;
    margin-top: -2px !important;
}
